# You can add to this file (carefully) but there is no need to remove items 
# unless you need to push that item to the repo. 
# Remember one of your groupmates may need to ignore these files.

# 2022-09-14 : temp fix for files from unknown source in Ubuntu
.nfs?????????*

# Mac file: stores folder attributes
*.DS_Store

# intermediate files
*.o
*.d

# Executable files as they appear in different OSes 
*.exe
./test_project
./project

# Eclipse files
.project
.settings

